@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'custom';

//style général
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer.footer {
  padding: 15px;
}

.text-justify {
    text-align: center;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/images/pexels-picsfast-8753672.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
    position: relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.btn {
  color: #fff;
}


//style page home
.carousel-item {
  aspect-ratio: 16 / 9;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 24px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
  color: #ffc107;
}

//style page menu

//accordéon choix menu
#accordionMenu {
  .menuOne {
  position: relative;

    .accordion-button {
      position: relative;
      color: #fff;
      background-image: url("../assets/images/repasAutomn.jpg");
      background-size: cover;
      background-position: center;
      z-index: 1;
      align-items: stretch;
      padding-right: 3rem;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
      }
    }
  }
  .accordion-button::after {
    filter: brightness(0) invert(1);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    top: auto;
    transform: none;
  }
}

