@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'custom';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer.footer {
  padding: 15px;
}

.text-justify {
    text-align: center;
}

.carousel-item {
  aspect-ratio: 16 / 9;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}